// Main
$navBack:#F9EFE3;
$webBack:#F9EFE3;
$footer:#D99010;
$button:#EDCB58;

$text:black;
$text2:white;
// Colors
$color1: #AB542F;
$color1Hover:#CF7649;
$color2:#853333;
$color2Hover:#A24949;
$color3:#300A07;
$color3Hover:#462522;